@charset "UTF-8";

#wrap
{
	width: 1200px;
	margin: 0 auto;
}

header
{
	height: 100px;
}

header > .title
{
	color: red;
}

nav
{
	height: 50px;
}

.contents
{
	height: 900px; 
}

.foot
{
	height: 60px;
}